@charset "utf-8";

/* ===========================================
   Grouping Class 
============================================ */
#cgvwrap .cgv-ad-wrap .sect-head-ad,
.head, .im-wrap, 
#contents, 
.foot, 
.sect-smuse, 
.sect-cinfo {position:relative; width:980px; margin:0 auto;}
.head h1, .sect-srh, .sect-booking,.sect-phototicket {position:absolute; z-index:1;}
.cf:before,.cf:after                                                    {content: " "; /* 1 */display: table; /* 2 */}
.cf:after                                                               {clear: both;}
.cf                                                                     {*zoom: 1;}

/* Background */
.sect-service .util li > a, 
.sect-service .gnb li > a, 
.lnb > ul > li > a, 
.sect-service a.showtimes, 
.sect-booking > a, 
.sect-phototicket > a, 
.sect-person li > a, 
.line-v, 
.line-dot, 
.sect-smuse li > a, 
.sect-cinfo .share a, 
.sect-cinfo .logo {overflow:hidden; background-image:url(https://img.cgv.co.kr/r2014/images/sprite/common_sprite_area_v4_2016.png); background-repeat:no-repeat; text-indent:100%; white-space:nowrap;}
.lnb h2, 
.sect-smuse h2, 
.sect-cinfo h2 {font:0px/0 a; visibility:hidden;}
.sect-service h2, 
.im-wrap .lnb > ul > li > a, 
.sect-srh h2, 
.sect-booking h2, 
.sect-booking > a, 
.sect-phototicket h2, 
.sect-phototicket > a, 
.sect-person h2 {font:0px/0 a;}

/* Display:block */
.sect-service > .util li > a, .sect-service > .gnb li > a, .sect-service a.showtimes, .im-wrap .lnb > ul > li > a, .im-wrap > h2 > a, .im-wrap .ad-partner > a,
.sect-booking > a,.sect-phototicket > a, .sect-person li > a, .sect-common li > a, .ciols-movie li > a, .sect-smuse li > a, .policy li a, .sect-cinfo .share a, .sect-bcrumb li > a,
.sect-ad-external > a, .cols-banner .col-hd > a, .sect-showtimes .info-timetable a, .sect-aside-banner .aside-content-btm > a, .sect-aside-banner > .btn-top > a {display:block;}

#cgvwrap {position:relative; width:100%;min-width:1040px}
#cgvwrap #header {background:#fdfcf0 url(https://img.cgv.co.kr/r2014/images/common/bg/bg_header.gif) repeat-x 0 0;} /* 20140620 DanielKim Del height:255px; padding-top:80px; background-position:0 80px; */
#cgvwrap #header > .head {position:relative; z-index:100;}
#cgvwrap #header > .head h1 {top:40px; left:0; width:223px; height:85px; padding:18px 0 0 22px; z-index:110;}
#cgvwrap #header > .head h1 > a {display:block;}

/* S Common 예매하기, gototop css*/
.fixedBtn_wrap{display:flex; justify-content:flex-end; position:fixed; right:0; bottom:80px; min-height:50px; margin-left:440px; text-align:center; z-index:7}
.fixedBtn_wrap .btn_fixedTicketing{position:absolute; left:auto; right:0px; width:136px; padding:12px 0 14px; font-weight:500; font-size:16px; color:#fff; line-height:1.500em; background-image:linear-gradient(to left, rgb(91 122 237), rgb(32 65 227)); box-shadow:1px 3px 6px 0 rgba(0, 0, 0, 0.3); border-radius:25px; transition:right 0.4s; opacity:0}
.fixedBtn_wrap .btn_gotoTop{display:flex; align-items:center; justify-content:center; position:relative; right:0; width:48px; height:48px; background-color:#fff; border:1px solid #000; box-shadow:1px 3px 6px 0 rgba(0, 0, 0, 0.3); border-radius:50%; opacity:0; pointer-events:none; ; transition:opacity 0.2s}
.fixedBtn_wrap .btn_gotoTop img{width:15px; height:21px}

.fixedBtn_wrap.topBtn .btn_gotoTop{opacity:1; pointer-events:auto; transition:opacity 0.4s}
.fixedBtn_wrap.topBtn .btn_fixedTicketing{right:58px; opacity:1}

@media only screen and (min-width: 1116px) {
	.fixedBtn_wrap{right:50%; margin-right:-548px}
}
/* E Common */

/* S Header */
	.header{position:relative; z-index:101}
	.header .contents{width:980px; margin:0 auto}
		.header_content{margin-bottom:50px; background-color:#fff; border-bottom:1px solid #eee}
		.header_content .contents{display:flex; justify-content:space-between; padding:30px 6px 25px 5px; background-color:#fff}
		.header_content .contents h1{display:inline-flex; align-items:flex-end; height:53px}
		.header_content .contents h1 a{display:block; float:left; height:100%}
		.header_content .contents h1 a img{display:block; width:auto; height:100%; object-fit:contain}
		.header_content .contents h1 span{font-weight:300; font-size:16px; color:#222; letter-spacing:0.313em; line-height:1.500em}
		.header_content .contents .memberInfo_wrap{display:flex; align-items:center}
		.header_content .contents .memberInfo_wrap li{margin-left:44px; margin-top:2px}
		.header_content .contents .memberInfo_wrap li:first-child{margin-left:0}
		.header_content .contents .memberInfo_wrap li a{display:block; position:relative; padding-bottom:19px}
		.header_content .contents .memberInfo_wrap li a img{width:36px; height:36px}
		.header_content .contents .memberInfo_wrap li a span{position:absolute; bottom:0; left:50%; font-size:13px; color:#666; line-height:1.462em; white-space:nowrap; transform:translate(-50%, 0)}
		.header_content .contents .memberInfo_wrap li.ad_partner{width:136px; height:39px; margin-top:5px}
		.header_content .contents .memberInfo_wrap li.ad_partner + li{margin-left:34px}
		.header_content .contents .memberInfo_wrap li.ad_partner a{width:100%; height:100%; padding-bottom:0}
		.header_content .contents .memberInfo_wrap li.ad_partner a img{width:100%; height:100%}

/* S > GNB
	Description
	- class 'nav' 에 class 'active' 추가시 서브메뉴노출
	- class 'nav' 에 class 'fixed' 추가시 상단고정되며 스타일 변경됨
 */
		.nav{position:absolute; left:0; top:113px; width:100%; padding:5px 0; background-color:#fff}
		.nav:after{content:''; display:block; position:absolute; left:0; top:49px; width:100%; height:1px; background-color:#2041e3}
		.nav:before{content:''; display:block; position:absolute; left:0; bottom:0; width:100%; height:1px; background-color:#a58e8e}
		.nav .contents{position:relative}
		.nav .contents h1{display:none}
			.nav_menu{display:inline-flex}
			.nav_menu > li{width:162px; padding:20px 0}
			.nav_menu > li:first-child{width:137px;}
			.nav_menu > li:first-child .nav_overMenu{padding-left:0}
			.nav_menu > li:first-child .nav_overMenu:before{content:none}
			/* .nav_menu > li:last-child{width:195px} */
			.nav_menu > li:nth-child(2) > h2{left:80px}
			.nav_menu > li:nth-child(3) > h2{left:160px}
			.nav_menu > li:nth-child(4) > h2{left:240px}
			.nav_menu > li:nth-child(5) > h2{left:240px}
			.nav_menu > li:last-child > h2{left:240px}

			.nav_menu > li > h2{position:absolute; top:7px}
			.nav_menu > li > h2 > a{font-weight:500; font-size:16px; color:#222; line-height:1.500em}
			/* .nav_menu > li > h2 > a:hover{text-decoration:underline} */
			.nav_menu > li > h2 > a strong{font-weight:700; color:#2041e3}
				.nav_overMenu{display:none; position:relative; margin-bottom:8px; padding:25px 0 0 25px}
				.nav_overMenu:before{content:''; position:absolute; left:0; top:45px; display:block; width:1px; height:160px; background-color:#aaa; opacity:0.8}
				.nav_overMenu h3{height:auto; margin:0; line-height:1em; text-align:left; background-image:none}
				.nav_overMenu a:hover{text-decoration:underline}
				.nav_overMenu dt{padding-top:18px}
				.nav_overMenu dt a{font-weight:700; font-size:14px; color:#222; line-height:1.429em}
				.nav_overMenu dt + dd{margin-top:8px}
				.nav_overMenu dd a{font-weight:400; font-size:14px; color:#666; line-height:2.143em}
				.nav_overMenu dd a.arrowR:after{content:''; display:inline-flex; align-self:center; width:5px; height:9px; margin-left:4px; background:transparent url('./../images/common/ico/arrowR_5x9.png') center/5px 9px scroll no-repeat}

			.totalSearch_wrap{display:inline-flex; position:absolute; right:0; top:7px; padding:0 36px 0 10px}
			.totalSearch_wrap:before{content:''; position:absolute; left:0; top:2px; width:1px; height:20px; background-color:#cacaca}
			.totalSearch_wrap:after{content:''; position:absolute; right:0; top:2px; width:1px; height:20px; background-color:#cacaca}
			.totalSearch_wrap label{display:block}
			.totalSearch_wrap label input[type="text"]{width:180px; height:auto; padding:0 0 0 7px; font-size:16px; color:#222; line-height:1.500em; border:none}
			.totalSearch_wrap .btn_totalSearch{display:block; position:absolute; right:10px; top:-1px; ; width:26px; height:26px; font-size:0; line-height:0; background:transparent url('./../images/common/ico/search.png') center center/26px scroll no-repeat}

			.totalSearch_wrap.active .totalSearchAutocomplete_wrap{display:block}

			

			.totalSearchAutocomplete_wrap{display:none; position:absolute; left:0; top:43px; width:100%; min-width:238px; background-color:#fff; border:1px solid #e1e1e1; border-radius:5px; box-shadow:0 2px 9px 0 rgba(0, 0, 0, 0.1)}
				.totalSearchAutocomplete_list{padding:16px 22px; border-bottom:1px solid #f4f4f4}
				.totalSearchAutocomplete_list dt{font-weight:500; font-size:16px; color:#222; line-height:1.500em}
				.totalSearchAutocomplete_list dt + dd{margin-top:5px}
				.totalSearchAutocomplete_list dd a{font-size:14px; color:#222; line-height:2.214em}
				.totalSearchAutocomplete_list dd a strong{font-weight:400; color:#fb4357}

				.btn_totalSearchAutocomplete_close{float:right; margin:4px 13px 9px; padding-right:15px; font-size:12px; color:#666; line-height:1.417em; background:transparent url('./../images/common/btn/autocompleteClose.png') right center/11px scroll no-repeat}

		.nav.active .nav_overMenu{display:block}
		
		/* 서브메뉴 일정스크롤 내려가면 고정되는 메뉴 */
		.nav.fixed{position:fixed; top:0px; min-width:1040px; padding:10px 0}
		.nav.fixed:after{top:0; bottom:auto; height:60px; background-image:linear-gradient(to right, rgb(32, 65, 227), rgb(91, 122, 237) 59%, rgb(95, 211, 255)); z-index:1}
		
		/* background-image:linear-gradientlinear-gradient(to right, rgb(32, 65, 227), rgb(91, 122, 237) 59%, rgb(95, 211, 255));
 		background-image:linear-gradient(to right, rgb(215, 67, 87), rgb(241,79,58) 59%, rgb(239, 100, 47)); */
 		
		.nav.fixed .contents{z-index:2}
		.nav.fixed .contents h1{display:block; position:absolute; left:0; top:1px; width:70px; height:32px; z-index:3}
		.nav.fixed .contents h1 a{display:block} 
		.nav.fixed .contents h1 a img{width:100%; height:100%}
		.nav.fixed .contents .nav_menu > li:first-child > h2{left:120px}
		.nav.fixed .contents .nav_menu > li:nth-child(2) > h2{left:200px}
		.nav.fixed .contents .nav_menu > li:nth-child(3) > h2{left:280px}
		.nav.fixed .contents .nav_menu > li:nth-child(4) > h2{left:360px}
		.nav.fixed .contents .nav_menu > li:nth-child(5) > h2{left:455px}
/* 		.nav.fixed .contents .nav_menu > li:last-child > h2{left:550px} */
 		.nav.fixed .contents .nav_menu > li > h2 > a{color:#fff}
		.nav.fixed .contents .nav_menu > li > h2 > a strong{color:#fff}
		.nav.fixed .contents .totalSearch_wrap:before,
		.nav.fixed .contents .totalSearch_wrap:after{background-color:#000; opacity:0.2}
		.nav.fixed .contents .totalSearch_wrap label input[type="text"]{color:#fff; background-color:transparent}
		.nav.fixed .contents .totalSearch_wrap .btn_totalSearch{background:transparent url('./../images/common/ico/search_w.png') center center/26px scroll no-repeat}
		.nav.fixed .contents .totalSearchAutocomplete_wrap{position:absolute; left:0; top:49px}
/* E Header */

/* Header AD Area */
#cgvwrap .cgv-ad-wrap {width:100%; height:80px; z-index:101} /* 20140620 position:absolute; top:0; left:0; Del */
#cgvwrap .cgv-ad-wrap .sect-head-ad {width:100%; height:80px; margin:0 auto; text-align:center;}
.sect_txt_banner {height:80px;background:#fefcef}
.sect_txt_banner iframe,.sect_txt_banner .inner {display:block;width:980px;height:80px;margin:0 auto}
iframe#TopBanner {margin: 0 auto;display:block}
.adreduce {position:relative;height:80px;margin:0 auto}
.adextend {position: absolute;left: 50%;top: 0px;z-index: 1000;margin: 0 auto;width: 980px;margin-left: -490px;}


/* 서비스 메뉴 영역 */
.sect-service > .util li > a > span,
.sect-service > .gnb li > a > span {visibility:hidden;}

.sect-service {overflow:hidden; position:relative; height:30px;}
.sect-service > .util {float:left;}
.sect-service > .util > li, .sect-service > .gnb > li, .im-wrap .lnb li {float:left;}
.sect-service > .util li {border-right:1px solid #ddd;}
.sect-service > .util li:first-child {border-left:1px solid #ddd;}
.sect-service > .util li > a {padding:0 10px; line-height:30px;}
.sect-service > .util li > a.app {width:74px; height:30px; background-position:10px -714px;}
.sect-service > .util li > a.like {width:44px; height:30px; background-position:-85px -714px;}
.sect-service > .util li > a.frugal {width:85px; height:30px; background-position:-151px -714px;}
.sect-service > .util li > a.insta {width:60px; height:30px; background-position:-263px -714px;}
.sect-service > .gnb {float:right; margin:0; text-align:left;}
.sect-service > .gnb li {background:url(./../images/common/bg/bg_v_line.gif) no-repeat 0 50%;}
.sect-service > .gnb li:first-child {margin-left:0; background-image:none;}
.sect-service > .gnb li > a {padding:0 10px; line-height:30px;}
.sect-service > .gnb li > a.login {width:29px; background-position:10px 9px;}
.sect-service > .gnb li > a.logout {width:43px; background-position:-521px 9px;}
.sect-service > .gnb li > a.join {width:39px; background-position:-42px 9px;}
.sect-service > .gnb li > a.mycgv {width:39px; background-position:-103px 9px;}
.sect-service > .gnb li > a.vip {width:62px; background-position:-170px 9px;}
.sect-service > .gnb li > a.club {width:53px; background-position:-254px 9px;}
.sect-service > .gnb li > a.customer {width:38px; background-position:-328px 9px;}
.sect-service > .gnb li > a.showtimes {width:106px; padding-right:0; background-position:-388px 9px;}

/* 주메뉴 영역 */
.im-wrap {position:relative; z-index:100; height:50px; padding-top:69px;}
.im-wrap > h2 {position:absolute; top:28px; left:50%; width:428px; height:31px; margin-left:-214px; text-align:center;}
.im-wrap .lnb {width:376px; margin:0 auto; clear:both;} /* 이벤트&컬쳐 : width:376px; 이벤트 / 컬쳐 : width:440px; */
.im-wrap .lnb > ul > li {position:relative; height:35px;}
.im-wrap .lnb > ul > li:first-child {margin-left:0;}
.im-wrap .lnb > ul > li.on .sub-wrap {display:block;}
.im-wrap .lnb > ul > li.booking {margin-left:25px;}
.im-wrap .lnb > ul > li.theaters {margin-left:25px;}
.im-wrap .lnb > ul > li.event {margin-left:40px;}
.im-wrap .lnb > ul > li.culture {margin-left:40px;}
.im-wrap .lnb > ul > li.giftshop {margin-left:55px;}
.im-wrap .lnb > ul > li.movie > a, 
.im-wrap .lnb > ul > li.event > a, 
.im-wrap .lnb > ul > li.theaters > a, 
.im-wrap .lnb > ul > li.giftshop > a, 
.im-wrap .lnb > ul > li.booking > a,
.im-wrap .lnb > ul > li.culture > a {height:17px; text-align:center;}
.im-wrap .lnb > ul > li.movie > a {width:60px; background-position:13px -28px;}
.im-wrap .lnb > ul > li.booking > a {width:60px; background-position:-77px -28px;}
.im-wrap .lnb > ul > li.theaters > a {width:60px; background-position:-166px -28px;}
.im-wrap .lnb > ul > li.event > a {width:47px; background-position:-272px -28px;}
.im-wrap .lnb > ul > li.culture > a {width:90px; background-position:-517px -28px;}
.im-wrap .lnb > ul > li.giftshop > a {width:62px; background-position:-379px -28px;}

.im-wrap .lnb .sub-wrap {display:none; position:absolute; top:31px; z-index:100; width:164px; padding:3px; background:url(https://img.cgv.co.kr/r2014/images/common/bg/bg_smenu.png) repeat-y 0 0;}
.im-wrap .lnb > ul > li.movie > .sub-wrap {left:-56px;}
.im-wrap .lnb > ul > li.booking > .sub-wrap {left:-56px;}
.im-wrap .lnb > ul > li.theaters > .sub-wrap {left:-56px;}
.im-wrap .lnb > ul > li.event > .sub-wrap {left:-40px;}
.im-wrap .lnb > ul > li.culture > .sub-wrap {left:-37px;}

.im-wrap .lnb .sub-wrap > .smenu {padding:20px 15px; border:2px solid #828282;}
.im-wrap .lnb .sub-wrap > i {display:block; position:absolute; top:-10px; left:50%; width:19px; height:10px; margin-left:-9px; background:url(https://img.cgv.co.kr/r2014/images/common/ico/ico_smenu_arrow.png) no-repeat 0 0;}
.im-wrap .lnb .sub-wrap > .smenu li {margin-top:15px;}
.im-wrap .lnb .sub-wrap > .smenu li:first-child {margin-top:0;}
.im-wrap .lnb .sub-wrap > .smenu li > a {display:block; width:130px; color:#fff; font-weight:500; font-size:13px; line-height:15px;}
.im-wrap .lnb .sub-wrap > .smenu li > a:hover, 
.im-wrap .lnb .sub-wrap > .smenu li > a:focus, 
.im-wrap .lnb .sub-wrap > .smenu li.on > a {background:url(https://img.cgv.co.kr/r2014/images/common/ico/ico_smenu_hand.png) no-repeat 100% 1px; color:#fb4357;}
.im-wrap .lnb .sub-wrap > .smenu li.last {padding-top:15px; border-top:2px solid #828282;}

/* 통합검색 영역 */
.sect-srh {top:65px; left:749px; width:141px; height:24px;}
.sect-srh input[type='text'] {width:100px; height:22px; padding:0 34px 0 5px;}
.sect-srh > fieldset {position:relative;}
.sect-srh > fieldset button {position:absolute; top:0; right:0; width:31px; height:24px; background-color:#fb4357; background-image:none; color:#fff; font-weight:500; font-size:11px; line-height:24px; text-align:center;}
*+html .sect-srh > fieldset button {top:8px;}

/* 헤더 광고 영역 */
.im-wrap .ad-partner {position:absolute; top: 16px;left: 754px;}
.im-wrap .ad-partner > iframe,
.im-wrap .ad-partner > a,
.im-wrap .ad-partner > a > img {width: 133px;height: 42px;display: block;background:#FEF8DC;}

/* 예매 영역 */
.sect-booking {top:10px; right:0px;}
.sect-booking > a {width:86px; height:99px; background-position:0 -319px;}
/* 퀵메뉴 포토티켓 영역 */
.sect-phototicket {top:-10px; right:-1px;}
.sect-phototicket > a {width:91px; height:86px; background-position:-364px -305px;}
/* 개인화 영역 */
.sect-person {width:980px; height:80px; margin:8px auto 9px; padding:9px 0 15px; background:url(https://img.cgv.co.kr/r2014/images/common/bg/bg_com_line.png) repeat-x 0 100%; clear:both}
.sect-person > ul > li {float:left; position:relative; border-left:1px solid #231d1d}
.sect-person > ul > li:first-child {border-left:0;}
.sect-person > ul > li > a {width:161px; height:80px;}
.sect-person > ul > li > a.week {background-position:15px -89px;}
.sect-person > ul > li > a.theater {background-position:-128px -88px;}
.sect-person > ul > li > a.event {background-position:-270px -89px;}
.sect-person > ul > li > a.special {background-position:-413px -90px;}
.sect-person > ul > li > a.movielog {background-position:24px -196px;}
.sect-person > ul > li > a.ticket {background-position:-142px -197px;}
.sect-person > ul > li > a.dc {background-position:-324px -196px;}
.sect-person > ul > li > a.collage {background-position:-510px -196px;}
.sect-person > ul > li > a.arthouse {background-position:-510px -197px;background-image:url(http://img.cgv.co.kr/R2014/images/sprite/common_sprite_area_v2.png)}
.sect-person > ul > li > a.phototicket {background-position:-587px -88px;background-image:url(http://img.cgv.co.kr/R2014/images/sprite/common_sprite_area_v3.png)}

/* ===========================================
   Contents Area 
============================================ */
#contaniner {/*overflow:hidden;*/ position:relative; width:100%; z-index:7}
#contaniner.bg-bricks {background:url(https://img.cgv.co.kr/r2014/images/common/bg/bg_c_bricks.png) repeat-x 0 29px}
#contaniner .contents{width:980px; height:100%; margin:0 auto}



#contents {clear:both; padding-bottom:50px;}
.linemap-wrap {width:100%; background-color:#f1f0e5; border-bottom:1px solid #cacac0;}
.linemap-wrap .sect-linemap {position:relative; width:980px; height:28px; margin:0 auto;}
.linemap-wrap .sect-linemap > .sect-bcrumb {position:relative;}
.linemap-wrap .sect-linemap > .sect-bcrumb ul > li,
.linemap-wrap .sect-linemap li {float:left;}
.linemap-wrap .sect-linemap > .sect-bcrumb ul > li {margin-left:12px; padding-left:20px; background:url(https://img.cgv.co.kr/r2014/images/common/ico/ico_arrow.png) no-repeat 0 50%; font-size:12px;}
.linemap-wrap .sect-linemap > .sect-bcrumb ul > li:first-child {margin-left:0; padding-left:0; background:none;}
.linemap-wrap .sect-linemap > .sect-bcrumb ul > li:first-child > a > img {margin-top:5px;}
.linemap-wrap .sect-linemap > .sect-bcrumb ul > li > a,
.linemap-wrap .sect-linemap > .sect-special ul > li > a {display:block; color:#222; font-size:12px; line-height:28px}
.linemap-wrap .sect-linemap > .sect-bcrumb ul > li strong{color:#222; text-decoration:underline; line-height:28px;font-weight:500;}
.linemap-wrap .sect-linemap > .sect-bcrumb ul > li.last{color:#222; font-size:12px; text-decoration:underline; line-height:28px;font-weight:500;}
*+html .linemap-wrap .sect-linemap > .sect-bcrumb img {margin-top:-4px;}
.linemap-wrap .sect-linemap > .sect-special {overflow:hidden; position:absolute; top:0; right:0;}
.linemap-wrap .sect-linemap > .sect-special ul > li {padding:0 10px; border-right:1px solid #acaca3;}
.linemap-wrap .sect-linemap > .sect-special ul > li:first-child {border-left:1px solid #acaca3;}
.linemap-wrap .sect-linemap > .sect-special ul > li > a {color:#666; font-weight:500; font-size:11px; text-align:center;}

/* 7월 28- 8월 31일 특별관 클럽 이벤트용 CSS 주석제거로 사용가능, 8.31이후로는 css삭제*/
/* .linemap-wrap .sect-linemap > .sect-special ul li:first-child+li a, 노원 town 추가로 인해 주석처리함 0617 */
.linemap-wrap .sect-linemap > .sect-special ul li a.specialclub {
    background: url(https://img.cgv.co.kr/r2014/images/common/ico/ico_club_service.png) no-repeat 100% 50%;
    padding-right:25px;
text-align: left;

}
.linemap-wrap .sect-linemap > .sect-special ul li.dsr_btn +li a {color:#666;background:none;padding: 0 20px; width: auto; text-align: center;}
/*141114 포토티켓 추가*/
.linemap-wrap .sect-linemap > .sect-special ul > li a.photi {
	background: url(http://img.cgv.co.kr/R2014/images/common/ico/ico_photi.png) no-repeat 100% 50%;
	padding-right:25px;
}

/* ===========================================
   Footer Area 
============================================ */
/* #footer{background:url(https://img.cgv.co.kr/r2014/images/common/bg/bg_footer_com.gif) repeat-x 0 100%;} */
#footer .sect-ad {width:auto; height:240px; text-align:center;}
#footer .sect-ad iframe {width:100%; height:240px;display:block;}
#footer .foot {padding:0 0 147px; width:100%; height:auto;}
.sect-smuse {overflow:hidden; width:100%; border-top:1px solid #949494; border-bottom:1px solid #949494;}
.sect-smuse > ul {width:980px; margin:0 auto;}
.sect-smuse li {padding:10px 0;}
.sect-smuse li, .sect-cinfo li {float:left;}
.sect-smuse li {margin-left:32px;}
.sect-smuse li:first-child {margin-left:0;}
.sect-smuse li > a {height:44px;}
.sect-smuse li > a.dx {width:49px; background-position:0 -768px;}
.sect-smuse li > a.imax {width:59px; background-position:-74px -768px;}
.sect-smuse li > a.screenx {width:88px; background-position:-159px -768px;}
.sect-smuse li > a.spherex {width:76px; background-position:-273px -768px;}
.sect-smuse li > a.soundx {width:72px; background-position:-379px -768px;}
.sect-smuse li > a.tempur {width:55px; background-position:-480px -768px;}
.sect-smuse li > a.gold {width:84px; background-position:-567px -768px;}
.sect-smuse li > a.cine {width:89px; background-position:-679px -768px;}
.sect-smuse li > a.cinema {width:86px; background-position:0 -826px;}
.sect-smuse li > a.kids {width:70px; background-position:-113px -826px;}
.sect-smuse li > a.cinenforet {width:120px; background-position:-207px -826px;}

.sect-cinfo {padding-top:28px;}
/* .foot .sect-cinfo{} */
/* Common Css : sect-cinfo */
.sect-cinfo .familysite, .sect-cinfo .share, .sect-cinfo .logo {position:absolute;}

.sect-cinfo .policy {width: auto;letter-spacing:0px; margin:0 -11px;}
.sect-cinfo .policy li {background:url(https://img.cgv.co.kr/r2014/images/common/bg/bg_li_vline2.gif) no-repeat 0 1px;}
.sect-cinfo .policy li:first-child {background-image:none;}
/* .sect-cinfo .policy li:first-child > a:first-child {padding-left:0;} */
.sect-cinfo .policy li > a {padding:0 6px; font-weight:500; font-size:13px; color:#444444; text-decoration:none; vertical-align:middle;letter-spacing:-1px}
.sect-cinfo .policy li > a.empha-red {color:#e7612e;}

.sect-cinfo .familysite {bottom:22px; right:0;}
.sect-cinfo .familysite select {width:140px; background:transparent; border:1px solid #999;}
.sect-cinfo .familysite button[type='button'] {width:29px; height:29px; background-color:#666; color:#fdfcf0; font-family:verdana, sans-serif; font-size:10px; font-weight:bold; text-align:center;}

.sect-cinfo .share {position:absolute; display:inline-block; right:182px; top:63px;}
.sect-cinfo .share a {float:left; width:34px; height:34px; margin-left:2px;}
.sect-cinfo .share a:first-child {margin-left:0;}
.sect-cinfo .share a.facebook {background-position:-509px -429px;}
.sect-cinfo .share a.twitter {background-position:-551px -429px;}
.sect-cinfo .share a.instagram {background-position:-593px -429px;}

.sect-cinfo .logo {top:65px; left:0; width:90px; height:43px; background-position:-145px -319px;}


.foot .sect-cinfo .address {padding:20px 0 0 108px; font-size:12px; color:#555555;}
.sect-cinfo .address address {font-style:normal; height:12px;}
.sect-cinfo .address p {margin-top:4px;}
.sect-cinfo .address p.vl > span {display:inline-block; padding-left:5px; margin-left:5px; height:12px; border-left:1px solid #c0c0c0;}
.sect-cinfo .address p.vl > span:first-child {padding-left:0; margin-left:0; border-left:0;}
.sect-cinfo .address p.copyright {position:absolute; right:0; bottom:0; font-family:Helvetica, verdana, sans-serif; font-size:11px;}
.sect-cinfo .address .btn_goFtc{margin-left:2px;vertical-align:2px}

/* Mobile Version View */
.mobile-foot-wrap {
	width:100%;
	margin:0 auto; 
	padding:10px 0; 
	background: #fdfcf0; /* Old browsers */
	background: -moz-linear-gradient(top, #fdfcf0 22%, #efe5c2 101%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(22%,#fdfcf0), color-stop(101%,#efe5c2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fdfcf0 22%,#efe5c2 101%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fdfcf0 22%,#efe5c2 101%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fdfcf0 22%,#efe5c2 101%); /* IE10+ */
	background: linear-gradient(to bottom, #fdfcf0 22%,#efe5c2 101%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfcf0', endColorstr='#efe5c2',GradientType=0 ); /* IE6-9 */
	text-align:center;
}
.mobile-foot-wrap a {
	display:inline-block; 
	width:auto; 
	height:54px; 
	padding-right:50px; 
	background:url(https://img.cgv.co.kr/r2014/images/common/ico/ico_mobile_arrow.gif) no-repeat 100% 50%; 
	color:#333; 
	font-weight:500; 
	font-size:50px; 
}

/* S Footer */
footer{min-width:1040px; padding:0 0 14px; background-color:#f8f8f8}
footer .policy_list{display:flex; justify-content:space-between; max-width:980px; margin:0 auto; padding:23px 0; border-bottom:1px solid #ebebeb}
footer .policy_list li a{font-weight:500; font-size:13px; color:#666; line-height:1.462em}
footer .policy_list li a:hover{text-decoration:underline}
footer .policy_list li a strong{font-weight:700; color:#222; text-decoration:underline}
footer .company_info_wrap{display:flex; justify-content:space-between; align-items:flex-end; max-width:980px; margin:0 auto; padding:23px 0}
	.company_info{font-size:12px; color:#666; line-height:1.667em}
	.company_info address{font-style:normal}
	.company_info .company_info_list{display:flex}
	.company_info .company_info_list dt:after{content:':'; padding:0 4px}
	.company_info .company_info_list dt ~ dt:before{content:'·'; padding:0 8px 0 4px}
	.company_info .company_info_list dd a{text-decoration:underline}

	footer .familysite_wrap{position:relative; }
	footer .familysite_wrap label{position:absolute; left:0; top:0; width:calc(100% - 38px); height:100%; font-size:0; line-height:0}
	footer .familysite_wrap select{position:relative; height:34px; font-size:12px; color:#666; line-height:34px; border:none; background-color:transparent; border:1px solid #d8d8d8}
	footer .familysite_wrap select option.familysiteTitle{display:none}
	footer .familysite_wrap .btn_familysite{display:inline-flex; justify-content:center; align-items:center; width:36px; height:34px; margin-left:-1px; font-size:14px; color:#fff; line-height:1.429em; background-color:#9e9e9e; vertical-align:top}
/* E Footer */
/* ===========================================
   Slider Modules
============================================ */
.sect-common, .cols-movie {overflow:hidden; width:980px;}
.sect-common {height:450px; margin-top:25px}
.cols-movie {height:388px;}

.slider {overflow:hidden; position:relative; z-index:1; width:100%; height:100%;}
.slider > button[type='button'] {position:absolute; background-image:url(https://img.cgv.co.kr/r2014/images/sprite/sprite_btn.png); background-repeat:no-repeat; font:0/0 a; zoom:1;}
.slider > .btn-prev, 
.slider > .btn-next, 
.slider > .btn-prev.dim, 
.slider > .btn-next.dim {overflow:hidden; top:50%; width:26px; height:52px; text-indent:100%; white-space:nowrap; margin-top:-26px;}
.slider > .btn-prev {left:19px; background-position:0 -97px;}
.slider > .btn-prev.dim {background-position:0 -155px;}
.slider > .btn-next {right:19px; background-position:-30px -97px;}
.slider > .btn-next.dim {background-position:-30px -155px;}
/* .slider ul {clear:both;} */
/* .slider li - item으로 대체 */

.slider .item-wrap {float:left;}
*+html .slider .item-wrap {display:inline;}
.slider button[type='button'] {z-index:20;}
.slider button[type='button'].btn-pause, 
.slider button[type='button'].btn-play, 
.slider .item-wrap > button[type='button'] {overflow:hidden; position:absolute; top:415px; width:13px; height:13px; background:url(https://img.cgv.co.kr/r2014/images/sprite/sprite_icon.png) no-repeat 0 -90px; text-indent:100%; white-space:nowrap;}
.slider .item-wrap button[type='button'].on {background-position:-16px -90px;}
.slider .item-wrap > .item {position:absolute; z-index:5; text-align:center;}
.slider .item-wrap.on > .item {z-index:10;}
.slider .item-wrap.move > .item {z-index:15;}
.slider .item-wrap.on > .item > a {display:block;}
.slider .item-wrap > .item .ico-play {top:50%; left:50%; width:66px; height:66px; margin:-33px 0 0 -33px; background-position: -121px -21px;}

/* .slider .item-wrap > button[type='button'] {display:none;} */
.slider button[type='button'].btn-play {left:534px; background-position:-32px -90px;}
.slider button[type='button'].btn-pause {left:551px; background-position:-48px -90px;}

/* 포토 나오는 슬라이더  */
.layer-wrap{ position:absolute; top:50%; left:50%; z-index:200;}
.layer-contents{ width: 980px; height: 506px;}
.layer-contents .slider{ overflow:visible;}
.layer-contents	.slider button[type='button'].btn-next{ right:-40px;}
.layer-contents	.slider button[type='button'].btn-prev{ left:-40px}
.layer-contents	.slider .item{ position:absolute; display:inline-block; text-align:center; background:#000000; white-space:normal;}
.layer-contents	.slider .item:before{ content:'';  display:inline-block; height:100%; vertical-align:middle;}
.layer-contents	.slider .item img{ width:auto; height:auto; max-width:100%; max-height:100%;}
*+html .layer-contents .slider .item{ background:none;}
.layer-contents .slider + .btn-close{ top:-23px; right:40px;}
/* 큐레이터 오디오파일재생 팝업 */
.wrap-audio{ position:relative; width:100%; height:100%; padding:15px 7px; background:#000000; }
.wrap-audio > h5:first-child{ margin-bottom:10px; font-size:13px; color:#cccccc; padding:0;}
.wrap-audio > .audio-contents{ width:340px; height:224px; border:1px solid #cccccc; }
.wrap-audio > .audio-contents > p{ height:175px; background:url('https://img.cgv.co.kr/r2014/images/common/bg/bg_txt_sound.gif') 50% 50% no-repeat; font:0/0 a; zoom:1;}
.wrap-audio > h5{ padding:15px 20px 10px; font-size:11px; color:#cccccc;}
.wrap-audio > textarea { width:320px; height:130px; border:1px solid #4b4b4b; background:#000000; color:#cccccc; font-size:11px;}
.wrap-audio + .btn-close { top:55px; right:20px;}


.now-showing, .now-showing h4, .now-showing a.link-reservation {position:absolute;}
.now-showing {bottom:0; z-index:20; width:733px; height:78px; background:url(https://img.cgv.co.kr/r2014/images/common/bg/bg_now_showing.png) no-repeat 0 0;}
.now-showing h4 {top:32px; left:22px;}
.now-showing dl {margin:19px 0 0 177px;}
.now-showing dl dt {color:#fffdf1; font-weight:500; font-size:15px;}
.now-showing dl dt > a, .now-showing a.link-reservation {background-image:url(https://img.cgv.co.kr/r2014/images/sprite/sprite_btn.png); background-repeat:no-repeat;}
.now-showing dl dt > a {overflow:hidden; display:inline-block; width:20px; height:19px; margin-left:10px; background-position:-50px -62px; text-indent:100%; white-space:nowrap;}
.now-showing dl dd {margin-top:10px; color:#fffdf1; font-size:12px;}
.now-showing a.link-reservation {display:block; width:62px; height:62px; top:8px; right:8px; background-position:-158px 0;}

/* Movie Selection Slider Type */
.cols-movie .col-slider {float:left; width:733px; height:388px;}
.cols-movie .col-slider > iframe {width:733px; height:388px;}
.cols-movie .col-ad {float:right; width:240px; height:388px;}
.cols-movie .col-ad > iframe {width:240px; height:388px;}

