
div.movieSelection_wrap {
	position: relative;
	height: 498px;
	background-color: #000;
	border-top: 2041e3;
}
div.movieSelection_wrap > .contents {
	width: 980px; height: 100%; margin: 0 auto;
}

strong.movieSelection_title {
	position: absolute;
	top: 150px;
	left: 0px;
	color: #fff;
	font-size: 40px;
	font-weight: 400;
}
span.movieSelection_txt {
	    color: #fff;top: 230px;left: 0px;position: absolute;
}

#movieChart_list .movieChart_btn_wrap {
	display: none;
	position: absolute;
	left: 48px;
	font-size: 20px;
	top: 75px;
}
#movieChart_list .movieChart_btn_wrap .btn_movieChart_detail{
	color: #eee;
	margin-bottom: 35px;
}
#movieChart_list .movieAgeLimit_wrap{
	position: absolute;
	top: 5px;
	left: 5px;
}

