body{
	background-color: #fcfcf0;
}

.seatimg{
	/*  적용안되서 인라인에다가 삽입
	background-image:url("resources/img/ticket/seatimg.jpg"); */
	max-width: 100%;
	background-size: 1000px 600px;
    background-repeat: no-repeat;
}


/* section */
#sec{
	/* width: 70%; */
	width:900px;
	height: 400px;
	/* background-color: #fef8dc; */
	background-color: white;
	opacity: 0.9;
	margin: 50px auto;
	/* border: 5px;
	border-style: solid; */
	/* border-color: #e71a0f; */
	border-radius: 1px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

#secTitle{
	width: 300px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	line-height: 100px;
}

#secMidTitle{
	width: 90%;
	margin: 0 auto;
	padding-top: 30px;
/* 	float: left;
	background-color: red;
	text-align: center;
	margin-left:85px;  */
}

#secMain{
	width: 90%;
	height: 100%;
	margin: 0 auto;
}



/* 등급 아이콘 */
.ico-grade {
    display: block;
    position: absolute;
    left: 5px;
    top: 10px;
    width: 10px;
    height: 10px;
    font: 0/0 a;
    zoom: 1;
}

.ico-grade.grade-전체관람가 {
	background-image: url(/cgv/resources/img/theater/전체관람가.png);
}

.ico-grade.grade-12세관람가 {
	background-image: url(/cgv/resources/img/theater/12세관람가.png);
}

.ico-grade.grade-15세관람가 {
	background-image: url(/cgv/resources/img/theater/15세관람가.png);
}

.ico-grade.grade-18세관람가 {
	background-image: url(/cgv/resources/img/theater/18세관람가.png);
}


/* <------------------------좌석예약-------------------------> */
.screen {
  padding: 10px;
  background: gray;
}




/* <------------------------결제배너란-------------------------> */
#ticket_tnb {
    position: relative;
    width: 100%;
    min-width: 996px;
    height: 128px;
    background-color: #1d1d1c;
}

.tnb {
    margin: 0 auto;
    width: 996px;
    height: 108px;
    padding: 10px 0;
    position: relative;
}
.tnb.step1 .btn-left {
    /* display: none; */
}
.tnb .btn-left, .tnb .btn-right {
    background: url(http://img.cgv.co.kr/CGV_RIA/Ticket/image/reservation/tnb/tnb_buttons.png) no-repeat;
    background-position: 0 0;
    overflow: hidden;
    text-indent: -1000px;
}

.tnb .info.movie {
    width: 210px;
}
.tnb .info {
    float: left;
    height: 108px;
    padding-right: 2px;
    background: url(http://img.cgv.co.kr/CGV_RIA/Ticket/image/reservation/tnb/split.png) no-repeat right;
    position: relative;
    color: #cccccc;
    font-size: 12px;
}

#ticket_bottom_banner {
    position: relative;
    width: 100%;
    min-width: 996px;
    height: 140px;
    overflow: hidden;
    text-align: center;
    margin: 30px 0;
}

/* <------------------------박스들제목(?)-------------------------> */
h3{
	font-size: 2.9em;
    text-transform: uppercase;
    color: #D0283D;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    margin: 0.8em 1vw 0.9em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}



/* <------------------------티켓타임-------------------------> */

a.btn{
    display:block;
    width:80px;
    line-height:10px;
    text-align:center;
    background-color:#B8272C;
    color:white;
    font-size: 1em;
}

.starttime {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.starttime .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color:#B89EAA;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.starttime:hover .tooltiptext {
  visibility: visible;
}
