[class|="wrap-movie"][class$="detail"] [class^="sect-"] {
    padding-top: 40px;
}
strong {
    font-weight: 500;
}
/* 영화포스터 */
[class|="sect-base"][class$="movie"] .box-image {
    margin-right: 30px;
    width: 185px;
    height: 260px;
}
.thumb-image {
    display: block;
    position: relative;
}
[class|="sect-base"][class$="movie"] .thumb-image img {
    width: 185px;
    height: 260px;
}
/* 등급 아이콘 */
.ico-grade {
    display: block;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 21px;
    height: 21px;
    font: 0/0 a;
    zoom: 1;
}

.ico-grade.grade-전체관람가 {
	background-image: url(resources/img/theater/전체관람가.png);
}

.ico-grade.grade-12세관람가 {
	background-image: url(resources/img/theater/12세관람가.png);
}

.ico-grade.grade-15세관람가 {
	background-image: url(resources/img/theater/15세관람가.png);
}

.ico-grade.grade-19세관람가 {
	background-image: url(resources/img/theater/19세관람가.png);
}

/* 영화소개박스 */
[class|="sect-base"][class$="movie"] .box-contents {
    width: 765px;
}
[class|="sect-base"] .box-contents {
    float: left;
    position: relative;
}



/* 주요정보 */
.tab-menu {
    clear: both;
    text-align: center;
}
ol, ul {
    list-style: none;
}

/* 트레일러 */
[class|="wrap-movie"][class$="detail"] [class^="sect-"] {
    padding-top: 40px;
}

[class|="wrap-movie"][class$="detail"] .heading {
    margin-bottom: 20px;
}
.heading {
    position: relative;
    width: 100%;
    height: 39px;
    background: #f6f6f6;
}

.heading h4 {
    float: left;
    margin-left: 16px;
    line-height: 39px;
    color: #333333;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -1px;
}

.heading .count {
    display: inline-block;
    margin-left: 4px;
    font-weight: 300;
    line-height: 40px;
}

.heading .count + .link-more {
    margin-top: 0;
}
.heading .link-more {
    margin-top: 9px;
    margin-left: 9px;
}
.link-more {
    display: inline-block;
    width: 20px;
    height: 19px;
    background: url(https://img.cgv.co.kr/R2014/images/sprite/sprite_btn.png) -50px -62px no-repeat;
    vertical-align: middle;
    font: 0/0 a;
    zoom: 1;
}
a {
    color: inherit;
    text-decoration: none;
}

/* 트레일러이미지크기지정 */
.wrap-movie-detail .sect-trailer li {
    width: 260px;
    margin: 0 0 15px 10px;
}
.sect-trailer > ul > li {
    float: left;
}
.wrap-movie-detail .sect-trailer li .box-image {
    width: 260px;
    height: 142px;
}

.box-image img {
    width: 100%;
}

.wrap-movie-detail .sect-trailer li .thumb-image {
    width: 260px;
    height: 142px;
}

.thumb-image {
    display: block;
    position: relative;
}

input, select, img {
    vertical-align: middle;
}

.wrap-movie-detail .sect-trailer li .thumb-image img {
    width: 260px;
    height: 142px;
}

.ico-play {
    position: absolute;
    right: 5px;
    bottom: 6px;
    width: 44px;
    height: 44px;
    background: url(https://img.cgv.co.kr/R2014/images/sprite/sprite_icon.png) -60px -21px no-repeat;
    font: 0/0 a;
    zoom: 1;
}


/* !!소개메인!!  */
.pb-5, .py-5 {
    padding-bottom: 3rem !important;
}
.pt-5, .py-5 {
    padding-top: 3rem !important;
}
*, *::before, *::after {
    box-sizing: border-box;
}

@media (min-width: 992px)
.container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}

.align-items-center {
    align-items: center !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
*, *::before, *::after {
    box-sizing: border-box;
}

/* 사진이미지 */
.img-fluid {
    width: 160px;
    height: 300px;
}

img {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
}
img {
    vertical-align: middle;
    border-style: none;
}

.w3l-counter-stats-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 20px;
    margin-top: 20px;
}

.w3l-counter-stats-info .counter_grid {
    border: 2px solid var(--theme-blue);
    padding: 30px 20px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    height: 110px;
    line-height: 80px;
    
}

.w3l-counter-stats-info p {
    font-size: 20px;
    font-weight: 500;
    color: var(--theme-title);
    margin-bottom: 10px;
}

/* 제목 */
.mt-5, .my-5 {
    margin-top: 3rem !important;
}

@media (max-width: 992px)
h3.hny-title, h3.hny-title.two {
    font-size: 30px;
    line-height: 40px;
}
h3.hny-title, h3.hny-title.two {
    font-size: 26px;
    line-height: 36px;
    color: var(--theme-title);
    text-transform: uppercase;
    font-weight: 700;
}

/* 영화소개란 */
.mt-3, .my-3 {
    margin-top: 1rem !important;
}

body p {
    line-height: 26px;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

/* 예매버튼라인 */
.mt-4, .my-4 {
    margin-top: 1.5rem !important;
}

/* 예매버튼 */
.read-button {
    padding: 0px 30px;
    color: var(--theme-white);
    height: 52px;
    display: inline-block;
    font-size: 16px;
    line-height: 50px;
    text-transform: capitalize;
    font-weight: 600;
    transition: 0.3s ease-in;
    border-radius: 6px;
    background-color: #D0283D;
    border: 2px solid #FF879F;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ml-2, .mx-2 {
    margin-left: 0.5rem !important;
}



