/* 영화선택 위 클릭란들 */
.tit-heading-wrap {
    position: relative;
    height: 60px;
    margin-top: 30px;
    border-bottom: 3px solid #241d1e;
    top: 50px;
}
.submenu {
    position: absolute;
    top: 18px;
    right: 0;
}
.tit-heading-wrap > .submenu > ul > li:first-child {
    margin-left: 0;
}
.tit-heading-wrap > .submenu > ul > li {
    float: left;
    margin-left: 15px;
}
.sect-sorting {
    position: relative;
    margin-top: 20px;
    text-align: right;
}
.sect-sorting .nowshow {
    position: absolute;
    left: 0;
    top: 0;
}

.sect-sorting > select {
    padding: 3px 5px;
}
.sect-sorting > select option {
    height: 23px;
    line-height: 23px;
}
.round.gray {
    border: 2px solid #7b7b7b;
    color: #7b7b7b;
}
.round > * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 5px 0;
}



.sect-movie-chart {
    margin-top: 30px;
}
[class|="sect"][class*="chart"] > h4 {
    margin-top: 30px;
    color: #222222;
    font-size: 21px;
    font-weight: 500;
}

ol li {
	width: 197px;
}


/* forEach 시작 */
.box-image {
    position: relative;
    width: 197px;
    min-height: 272px;
    margin-bottom: 10px;
}

script {
    display: none;
}
.list-more {
    padding-top: 0px;
}
.rank {
    display: block;
	height: 28px;
	margin-bottom: 4px;
	color: blue;
	font-size: 19px;
	text-align: center;
	line-height: 28px
}

.thumb-image {
	display: block;
	position: relative;
}

.thumb-image img {
	height: 260px;
}


/* 예매 */
.like {
	display: block;
	margin-top: 10px;
	text-align: left !important;
}

.link-reservation {
	display: inline-block;
	width: 91px;
	height: 35px;
	background: url(https://img.cgv.co.kr/R2014/images/sprite/sprite_btn.png) 0 0 no-repeat;
	font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 0px;
    line-height: 0;
    font-family: a;
	zoom: 1;
	vertical-align: top;
}


/* !!무비차트 큰틀!! */
.pb-5, .py-5 {
    padding-bottom: 3rem !important;
}
.pt-5, .py-5 {
    padding-top: 3rem !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
*, *::before, *::after {
    box-sizing: border-box;
}

@media (min-width: 992px)
.mt-lg-0, .my-lg-0 {
    margin-top: 0 !important;
}

.w3l-albums .slider-info {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background-color: var(--theme-lite);
    border-radius: 6px;
    /* padding: 20px; */
    align-items: center;
    margin-top: 30px;
    border: 1px solid var(--theme-border);
}

.w3l-albums .img-circle {
    display: inline-block;
    overflow: hidden;
    background: #f3f6f9;
    position: relative;
}

/* 하트이모지 */
.w3l-albums .message {
    padding-right: 20px;
}

/* 글자크기 */
.w3l-albums a.author-book-title {
    color: var(--theme-title);
    font-size: 13px;
    line-height: 20px;
    display: inline-block;
    font-weight: 700;
    transition: 0.3s ease-in-out;
    margin-top: 5px;
    text-transform: capitalize;
}


.w3l-albums h4 .post {
    display: block;
    padding: 0px 0;
    font-size: 13px;
    color: var(--theme-para);
}


/* 등급 아이콘 */
.ico-grade {
    display: block;
    position: absolute;
    left: 110px;
    top: 40px;
    width: 20px;
    height: 20px;
    font: 0/0 a;
    zoom: 1;
}

.ico-grade.grade-전체관람가 {
	background-image: url(/cgv/resources/img/theater/전체관람가.png);
}

.ico-grade.grade-12세관람가 {
	background-image: url(/cgv/resources/img/theater/12세관람가.png);
}

.ico-grade.grade-15세관람가 {
	background-image: url(/cgv/resources/img/theater/15세관람가.png);
}

.ico-grade.grade-18세관람가 {
	background-image: url(/cgv/resources/img/theater/19세관람가.png);
}












