/* 영화선택 위 클릭란들 */
.tit-heading-wrap {
    position: relative;
    height: 60px;
    margin-top: 30px;
    border-bottom: 3px solid #241d1e;
}
.submenu {
    position: absolute;
    top: 18px;
    right: 0;
}
.tit-heading-wrap > .submenu > ul > li:first-child {
    margin-left: 0;
}
.tit-heading-wrap > .submenu > ul > li {
    float: left;
    margin-left: 15px;
}
.sect-sorting {
    position: relative;
    margin-top: 20px;
    text-align: right;
}
.sect-sorting .nowshow {
    position: absolute;
    left: 0;
    top: 0;
}

.sect-sorting > select {
    padding: 3px 5px;
}
.sect-sorting > select option {
    height: 23px;
    line-height: 23px;
}
.round.gray {
    border: 2px solid #7b7b7b;
    color: #7b7b7b;
}
.round > * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 5px 0;
}



.sect-movie-chart {
    margin-top: 30px;
}
[class|="sect"][class*="chart"] > h4 {
    margin-top: 30px;
    color: #222222;
    font-size: 21px;
    font-weight: 500;
}

ol li {
	width: 197px;
}

/* forEach 시작 */
.box-image {
    position: relative;
    width: 197px;
    min-height: 272px;
    margin-bottom: 10px;
}
.wrap-movie-chart .box-contents {
    height: 93px;
}

script {
    display: none;
}
.list-more {
    padding-top: 0px;
}
.rank {
    display: block;
	height: 28px;
	margin-bottom: 4px;
	color: #ffffff;
	font-size: 19px;
	text-align: center;
	line-height: 28px
}

.thumb-image {
	display: block;
	position: relative;
}

.thumb-image img {
	height: 260px;
}


/* 예매 */
.like {
	display: block;
	margin-top: 10px;
	text-align: left !important;
}

.link-reservation {
	display: inline-block;
	width: 91px;
	height: 35px;
	background: url(https://img.cgv.co.kr/R2014/images/sprite/sprite_btn.png) 0 0 no-repeat;
	font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 0px;
    line-height: 0;
    font-family: a;
	zoom: 1;
	vertical-align: top;
}


/* Showz_Movie */
/* 무비차트 큰틀 */
.pb-5, .py-5 {
    padding-bottom: 3rem !important;
}
.pt-5, .py-5 {
    padding-top: 3rem !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
*, *::before, *::after {
    box-sizing: border-box;
}


















