#theaterName {
	position: relative;
    width: 874px;
    height: 400px;
    padding: 60px 53px 0;
    background: url(https://img.cgv.co.kr/r2014/images/common/bg/bg_showtimes_favorite.gif) no-repeat 0 0;
}

#theaterName > ul{
	position: relative;
}

ul, li{
	list-style: none;
}
li{
	float: left;
}

#roomName > ul > li > a {
    position: relative;
    padding: 0;
    font-size: 12px;
    color: #b9b9b9;
    line-height: 31px;
    text-align: left;
}